<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>

      <!-- Linux/macOS collector -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <CodeCoverage>

            <ModulePaths>
              <Include>
                <ModulePath>.*[\\/](RepoDb[^\\/]*\.dll)$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*[\\/].*Tests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>

            <Sources>
              <Exclude>
                <Source>.*\.g\.cs$</Source>
                <Source>.*/Generated/.*</Source>
                <Source>.*Compat\.cs$</Source>
              </Exclude>
            </Sources>

          </CodeCoverage>
        </Configuration>
      </DataCollector>

      <!-- Windows collector -->
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>

            <ModulePaths>
              <Include>
                <ModulePath>.*[\\/](RepoDb[^\\/]*\.dll)$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*[\\/].*Tests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>

            <Sources>
              <Exclude>
                <Source>.*\.g\.cs$</Source>
                <Source>.*/Generated/.*</Source>
                <Source>.*Compat\.cs$</Source>
              </Exclude>
            </Sources>

          </CodeCoverage>
        </Configuration>
      </DataCollector>

    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
